include ../../fitures/floatingCircles/floatingCircles.pug
include ../../fitures/bigCaption/bigCaption.pug
.caption
    .upCaption
        +splitedWord('ПОКРЫТИЕ')(class="bigCaption")
    .downCaption
        +splitedWord('АВТО')(class= "bigCaption")
    .baloon 
        img(src="../../assets/img/baloon.png")