include ../../fitures/floatingCircles/floatingCircles.pug
include ../../fitures/star/star.pug
include ../../fitures/bigCaption/bigCaption.pug
- 
    const reasons = [
        {color: "red", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia lectus vel consequat interdum"},
        {color: "yellow", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia lectus vel consequat interdum"},
        {color: "green", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia lectus vel consequat interdum"},
        {color: "blue", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia lectus vel consequat interdum"},
        {color: "rose", text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacinia lectus vel consequat interdum"},
    ]
.container
    include ../../fitures/menu/menu.pug
    section.tiser
        .tiser__left
            .tiser__car
                img(src="../../assets/img/car-up.png", alt="")
        .tiser__right
            article.caption
                .caption__wrap
                    .upCaption
                        +splitedWord('ПОКРЫТИЕ')(class="bigCaption")
                    .downCaption
                        +splitedWord('АВТО')(class= "bigCaption")
                    .baloon 
                        img(src="../../assets/img/baloon.png")
            .tiser__cloud 
                img(src="../../assets/img/cloud1.png", alt="cloud1")

    section.more 
        a.more__href(href="#")
            .more__caption Далее
            .more__arrow
                img(src="../../assets/arrow.svg" alt="")
        
    section.fiveReasons
        .fiveReasons__img 
            img(src="../../assets/img/cloud2.png" alt="")
        .fiveReasons__left
            h1.fiveReasons__title 5 причин
            p.fiveReasons__choise выбрать нас
        .fiveReasons__right
            each i in reasons
                .reason
                    +star(i.color)
                    .reason__text= i.text

    section.product 
        .product__wrap
            h1.product__title наша краска под ваши предпочтения
            .product__text Duis eleifend condimentum urna eu finibus. Cras a enim hendrerit, eleifend ex et, eleifend nibh. Sed dignissim, sapien a porta posuere, tellus sapien dapibus nibh, at sodales velit est ut risus. Cras dignissim massa lacus, ut porta odio tincidunt vitae. Nunc malesuada nec elit ut dignissim. Praesent in commodo lorem. Mauris eu massa commodo, laoreet ex in, auctor diam. Integer bibendum eget urna tempor condimentum.
        button.button.product__button узнать стоимость
        include ../../fitures/slider/slider.pug
                
    section.services 
        each i in [0,1,2]
            +floatingCircles 
                h2.services__title УСЛУГИ
                ul.services__list 
                    - 
                        const services = [
                        {name:"lorem ipsum dolor", price: 999},
                        {name:"lorem ipsum dolor", price: 999},
                        {name:"lorem ipsum dolor", price: 999},
                        {name:"lorem ipsum dolor", price: 999},
                        {name:"lorem ipsum dolor", price: 999},
                        {name:"lorem ipsum dolor", price: 999},
                        ]
                    each i in services
                        li.services__item.services-item 
                            .services-item__name= i.name
                            .services-item__price!= i.price+'&#8381;'

                button.button ЗАПИСАТЬСЯ

    section.order 
        .order__img 
            img(src="../../assets/img/carBottom.png" alt="")
        .order__form 
            include ../../fitures/form/form.pug

    section.footer 
        include ../../fitures/footer/footer.pug
