- const navs = ['Преимущества','Наша краска','Услуги','Заявка']
.menu 
    .menu__wrap 
        h1.menu__logo ЛОГОТИП
        ul.menu__nav 
            each i in navs 
                li= i
        .menu__phone 8 (05)102-10-65
        button.button.menu__button ЗАПИСАТЬСЯ