.fiveReasons
    width: 1218px
    display: grid
    grid-template-columns: repeat(2,1fr)
    // position: relative
    margin: 0 auto 171px
    @media screen and ('max-width': 1143px)
        display: flex
        flex-direction: column
        position: relative
    &__left
        margin-bottom: 42px
    &__title
        color: #F6F4F0
        text-transform: uppercase
        font-size: clamp(50px, 4.16vw ,80px)
        margin-bottom: 18px

    &__choise
        text-transform: uppercase
        font-size: 40px
    &__img
        position: absolute
        width: 56vw
        height: 858px
        left: 0
        height: fit-content
        @media screen and ('max-width': 1143px)
            width: 100vw
            transform: rotateY(180deg)
            position: absolute
            bottom: -208px
        & > img
            width: 100%
