.reason
    position: relative
    display: flex
    align-items: center
    &:not(:last-child)
        margin-bottom: 77px
    &__text
        color: #fff
        width: 464px
        font-size: 18px
        margin-left: 27px
        @media screen and ( max-width: 640px )
            flex: 0 0 20%
