@import "../../fitures/floatingCircles/_floatingCircles"
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic)
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic)
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic)
@import "../../fitures/star/_star"
@import "../../fitures/form/_form.sass"
@import './splide.min'
@import "../../fitures/slider/_slider"
@import "../../fitures/bigCaption/_bigCaption"
@import "../../fitures/menu/_menu"
@import "../../fitures/footer/_footer"

@import "./_tiser"
@import "./_fiveReason"
@import "./_reason"
@import "./_modal"

*,*::before,*::after
    box-sizing: border-box
    margin: 0
    padding: 0
body
    overflow-x: hidden
    margin: 0
    padding: 0
    background: #181818
    color: #fff
    font-family: Montserrat, sans-serif

.container
    margin: 0
    padding: 0 1rem
    overflow: hidden
    max-width: 1920px
    margin: 0 auto

.caption
    height: 400px
    &__wrap
        display: flex
        flex-direction: column
        align-items: flex-end
        padding: 0 2rem
        position: relative

.upCaption, .downCaption
    position: relative

.upCaption
    width: 59%

.downCaption
    width: 29%

.downCaption
    margin-top: 11em
    right: 0

.baloon
    position: absolute
    top: -157px
    transition: transform 1s
    z-index: 3

.services
    overflow: auto
    scrollbar-width: thin
    scrollbar-color: #fff7 #181818
    &::-webkit-scrollbar
        height: 2px
    &::-webkit-scrollbar-track
        background-color: 181818
    &::-webkit-scrollbar-thumb
        // box-shadow: inset 0 0 6px #fff
        background-color: #fff7
    &__wrap
        width: 1223px
        display: flex
        column-gap: 31px
        margin: 0 auto
        &__title
            text-align: center
            margin-bottom: 50px

.button
    position: absolute
    bottom: 75px
    left: 50%
    transform: translate(-50%)
    background: none
    border-radius: 20px
    border: 1px solid #00B1AB
    color: #fff
    padding: 13px 45px
    font-weight: 500
    transition: background .5s
    cursor: pointer
    &:hover
        background: #00B1AB
.services-item
    list-style: none
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 14px
    &:not(:last-child)
        margin-bottom: 17px
.order
    display: flex
    position: relative
    margin-bottom: 162px
    max-width: 1571px
    // @media screen and ( max-width: 1024px )
    //     height: 509px
    &__form
        // left: -217px
        width: fit-content
        right: 0
        top: 83px
        position: absolute
        @media screen and ( max-width: 1024px )
            top: 0
            left: 50%
            transform: translateX(-50%)
        @media screen and ( max-width: 650px )
            width: 100%
    &__img
        @media screen and ( max-width: 1024px )
            margin-top: 513px
            // position: absolute
            // transform: translateX(-50%)
            width: 100%
            overflow: hidden
        & > img
            width: 117vw
.product
    display: grid
    // grid-template-columns: repeat(2,1fr)
    grid-template-areas: "text baloon" "button baloon"
    grid-template-rows: 323px 156px
    grid-column-gap: 66px
    max-width: 1220px
    margin: 0 auto 157px
    @media screen and ( max-width: 1111px )
        grid-template-areas: "text" "baloon" "button"
        grid-template-rows: unset

    &__wrap
        position: relative
        height: 100%

    &__title
        text-transform: uppercase
        font-size: 45px
        font-weight: bold
        margin: 0
        margin-bottom: 24px

    &__text
        font-size: 18px
        margin-bottom: 58px

    &__button
        // bottom: 58px
        padding: 0
        grid-area: button
        transform: none
        width: 247.2px
        height: 46px
        margin: 0 auto
        position: static
        border: none
        font-weight: 500
        font-size: 16px
        text-transform: uppercase
        background: linear-gradient(to right,rgba(9, 8, 21, 0.01),rgba(255,255,255,0.05),rgba(9, 8, 21, 0.01))
        // box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05)
        backdrop-filter: blur(25px)

        &:hover
            background: linear-gradient(to right,rgba(9, 8, 21, 0.01),rgba(255,255,255,0.05),rgba(9, 8, 21, 0.01))

        @media screen and ( max-width: 1111px )
            margin-top: 66px

.more
    margin-bottom: 160px
    &__href
        display: block
        display: flex
        flex-direction: column
        align-items: center
        row-gap: 1rem
        text-decoration: none
        color: #fff
    &__caption, &__arrow
        transform: rotate(90deg)
    &__caption
        font-size: 20px
    &__arrow
        height: 45px
        & > img
            width: 100%
            height: 100%
#monitor
    text-align: center
