=moz($img)
    @-moz-document url-prefix()
        background: url($img)
        height: 120px
        width: 105px
.star
    // position: absolute
    position: relative
    height: 73px
    width: 105px
    & > *
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
    &__back
        border-radius: 5px
        width: 28px
        height: 73px
        &_red
            background: #FF3031
        &_orange
            background: #FA5E2C
        &_yellow
            background: #FEC859
        &_green
            background: #60FA59
        &_blue
            background: #00B1AB
        &_cian
            background: #3096FA
        &_violet
            background: #F84F92
    &__front
        border-radius: 8px
        width: 64px
        height: 64px
        backdrop-filter: blur(25px)
        background: #09081512
        &_red
            @-moz-document url-prefix()
                background: #FF3031
                +moz("../../assets/img/stars/star-red.png")
        &_yellow
            @-moz-document url-prefix()
                background: #FEC859
                +moz("../../assets/img/stars/star-yellow.png")
        &_green
            @-moz-document url-prefix()
                background: #00B1AB
                +moz("../../assets/img/stars/star-green.png")
        &_blue
            @-moz-document url-prefix()
                background: #0076B2
                +moz("../../assets/img/stars/star-blue.png")
        &_rose
            @-moz-document url-prefix()
                background: #FA448C
                +moz("../../assets/img/stars/star-rose.png")
