mixin star(color="red")
    .star 
        .star__back(class="star__back_"+color) 
        .star__front(class="star__front_"+color)
        .star__svg 
            svg(width="58" height="55" viewBox="0 0 58 55" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M29 1.61804L35.2599 20.884L35.3722 21.2295H35.7354H55.9929L39.6042 33.1365L39.3104 33.35L39.4226 33.6955L45.6825 52.9615L29.2939 41.0545L29 40.8409L28.7061 41.0545L12.3175 52.9615L18.5774 33.6955L18.6896 33.35L18.3958 33.1365L2.00715 21.2295H22.2646H22.6279L22.7401 20.884L29 1.61804Z" stroke="white")
