include ../../fitures/floatingCircles/floatingCircles.pug
.splide#splideServices
    .splide__track
        ul.splide__list
            - 
                const servicesCarousel = [
                    {
                        title:"Выкуп автомобилей",
                        texts:[
                            "Скупка битых авто",
                            "Срочный выкуп авто",
                            "Выкуп авто на разбор",
                            "Выкуп кредитных авто",
                            "Выкуп спецтехники",
                            "Выкуп мототехники",
                            "Выкуп грузовых авто",
                            "Выкуп водного транспорта",
                            "Выкуп погрузочных каров",
                            "Выкуп проблемных авто",
                            ]
                    },
                    {
                        title:"Покраска автомобиля",
                        texts:[
                            "Пожалуй, самая сложная и важная процедура, от которой зависит не только внешний вид авто, но длительность его эксплуатации. Не для кого не секрет , что от качества покраски зависит защита металла авто от коррозии.",
                            "Наш маляр готов провести полную подготовку автомобиля с материалами высшего качества, и сделать покраску в необходимый цвет. ",
                            "За подбор цвета отвечает профессиональный подборщик с многолетним стажем"
                            ]
                    },
                    {
                        title:"Полировка",
                        texts:[
                            "Эта процедура очень важна именно для внешнего вида машины.",
                            "Мелкие царапины, потертости и недочеты по ЛКП можно устранить при помощи полировки кузова."
                        ]
                    },
                    {
                        title:"Устранение вмятин без покраски",
                        texts:[
                            "Очень востребованная на данный момент услуга.",
                            "При мелких ДТП часто бывают повреждения кузовных деталей без критичного повреждения лакокрасочного покрытия. В таких случаях есть возможность выправки геометрии элементов без покраски."
                        ]
                    }
                ]
            each i in servicesCarousel
                li.splide__slide
                    .splide__item 
                        +floatingCircles 
                            h2.services__title= i.title
                            ul.services__list 
                                
                                each k in i.texts
                                    li.services-item= k

                            a.button(href="#form") ЗАПИСАТЬСЯ