.splide#splide
    .splide__track
        ul.splide__list
            li.splide__slide 
                img(src="../../assets/img/products/product-yellow.png")
            li.splide__slide
                img(src="../../assets/img/products/product-green.png")