.splide#splide
    .splide__track
        ul.splide__list
            - const baseAdr = '../../assets/img/new/products'
            - 
                const images = [
                    '/product-yellow.png',
                    '/product-green.png',
                    '/product-violet.png',
                    '/product-rose.png',
                    '/product-black.png',
                    ]
            each i in images
                li.splide__slide
                    .splide__item 
                        img(src= baseAdr+i)
           
    #monitor  #FFA826