.splide#splide
    .splide__track
        ul.splide__list
            li.splide__slide
                .splide__item 
                    img(src="../../assets/img/products/product-yellow.png")
                    div #ffa826
            li.splide__slide
                .splide__item 
                    img(src="../../assets/img/products/product-green.png")
                    div #00B1AB