.footer
    width: fit-content
    margin: 0 auto
    margin-bottom: 50px
    @media screen and ( max-width: 1080px )
        width: 100%

    &__wrap
        display: flex
        align-items: center
        & > .button
            position: static
            transform: none
        @media screen and ( max-width: 1024px )
            flex-direction: column

    &__right
        border-top: 1px solid rgba(255, 255, 255, 0.21)
        padding-top: 32px
        display: flex
    &__logo
        margin-right: 78px

    &__nav
        display: flex
        align-items: center
        justify-content: space-between
        column-gap: 4em
        flex: 1 0 64%
        @media screen and ( max-width: 1100px )
            column-gap: 2em
        @media screen and ( max-width: 1075px )
            margin-right: 1rem
        @media screen and ( max-width: 486px )
            font-size: clamp(11px,2vw,20px)

        & > li
            list-style: none
            text-align: center
            & > a
                text-decoration: none
                color: #fff
                cursor: pointer
            &:nth-child(2)
                flex: 0 0 25%

    &__phone
        font-size: 24px
        font-weight: 500
        text-align: right
        flex: 0 0 210px
        margin-left: clamp(16px, 6vw ,236px)
        color: #fff
        text-decoration: none
        @media screen and ( max-width: 510px )
            margin: 0
            font-size: clamp(1em,2vw,24px)

    &__version1
        @media screen and ( max-width: 1024px )
            display: none
    &__version2
        display: none
        @media screen and ( max-width: 1024px )
            display: block
        & .footer__logo
            font-size: 40px
            margin-right: 0
            @media screen and ( max-width: 503px )
                font-size: clamp(20px, 7.95vw ,40px)

    &__up
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        padding-bottom: 9px
        @media screen and ( max-width: 510px )
            flex-direction: column
        & > .footer__phone
            flex: unset
            @media screen and ( max-width: 503px )
                font-size: clamp(16px, 4.77vw ,24px)
    &__down
        border-top: 1px solid rgba(255, 255, 255, 0.21)
        width: 100%
        padding-top: 23px

        & > .footer__nav
            column-gap: unset
            width: 100%
            justify-content: space-between
