form.form 
    .form__title оставьте заявку
    input.form__input(placeholder="как к вам можно обращаться?")
    input.form__input(placeholder="укажите ваш номер телефона")
    input.form__input(placeholder="ваш e-mail")
    textarea.form__input(placeholder="начните набирать сообщение")
    button.button.form__button Записаться